section{
    background-color: rgb(172, 172, 48);
    padding-top: 30px;
    padding-bottom: 30px;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;

}
.container_left{

    width: 450px;
    margin-right: 30px;
}
.facebook_btn{
    height: 45px;
    width: 450px;
    border-color: rgb(83,146,249);
    color: rgb(83,146,249);
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    font-size: 16px;
    font-weight: 600;
    margin-right: 50px;
}
.divice{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.divice span{
    width: 250px;
    height: 1px;
    background-color: rgb(122, 122, 122);
}
.divice p{
    margin: 0px 4px 1px 4px;
}
.reset_btn{
    width: 450px;
    height: 45px;
    border: none;
    background-color: rgb(83,146,249);
    color: white;
    border-radius: 5px;
    box-shadow:2px 2px 2px 2px rgb(223, 223, 223);
    margin-bottom: 20px;
}
.back{
    text-align: center;
}
.container_right{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    padding: 50px;
    margin-left: 50px;
}
.container_right ul li{
    list-style: none;
}