@import "./settings.scss";

.fw-500 {
  font-weight: 500 !important;
}

.z-2 {
  z-index: 2 !important;
}

.z-3 {
  z-index: 3 !important;
}

.z-4 {
  z-index: 4 !important;
}

.z-5 {
  z-index: 5;
}

.z-200 {
  z-index: 200;
}

.z-201 {
  z-index: 201;
}

.bx__shadow {
  box-shadow: 0 1px 6px 3px $shadow-color !important;
}

.bx__shadow-1 {
  box-shadow: 0 1px 5px 1px $shadow-color !important;
}

.fs-180 {
  font-size: 180%;
}

.h-30 {
  height: 35vh !important;
}

.w-95 {
  width: 95% !important;
}

.cl-red {
  color: $red-color !important;
}

.cl-pink {
  color: $pink-color;
}

.cl-yellow {
  color: #ffa726 !important;
}

.pr-20 {
  padding-right: 20px;
}

.fs-x3 {
  font-size: 300%;
}

.c-pointer {
  cursor: pointer;
}

.mr-15 {
  margin-right: 15px !important;
}

.mh-600 {
  max-height: 600px;
}

.rounded-top-left {
  border-top-left-radius: 10px;
}

.rounded-top-right {
  border-top-right-radius: 10px;
}

.bg-main {
  background-color: $main-color !important;
}

.c-default {
  cursor: default;
}

.w-70 {
  width: 70% !important;
}

.left-25 {
  left: 25%;
}

.pr-3r {
  padding-right: 3rem;
}

.fs-note {
  font-size: 95%;
}

.fs-price {
  font-size: 125%;
}

.bg-disabled {
  background-color: #d5d9e2 !important;
}

.bg-light-green {
  background: #f3f9f2;
}

.fs-70 {
  font-size: 70%;
}

.mx-wh-30 {
  max-width: 30px;
  max-height: 30px;
}

.fs-smaller {
  font-size: smaller;
}

.fs-7 {
  font-size: 0.9em;
}

.mh-400 {
  max-height: 400px;
}

.btn__main {
  background-color: $main-color;
  transition: all ease 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.w-40 {
  width: 40%;
}

.bg-gray {
  background-color: #f8f5f5 !important;
}

.mh-300 {
  max-height: 300px;
}

.mh-415 {
  max-height: 415px;
}

.mh-200 {
  max-height: 200px;
}

.bg-none {
  background: none;
}

.outline-none {
  outline: none;
}

.cl-green {
  color: #01cc55;
}

.fs-500 {
  font-size: 500%;
}

.w-40{
  width: 40%;
}

#scrollToTop {
  display: inline-block;
  background-color: #212121;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: #fff;
  i {
    margin-top: 9px;
    font-size: 180%;
  }
}

#scrollToTop::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#scrollToTop:hover {
  cursor: pointer;
  background-color: #333;
}
#scrollToTop:active {
  background-color: #555;
}
#scrollToTop.show {
  opacity: 1;
  visibility: visible;
}

//mobile
@media screen and (max-width: 600px) {
}
